<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Help Me Graduate</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    @RenderSection("preScripts", false)

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HelpMeGraduate", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ Html.RenderAction("UniversityLinks", "Menu", new { area = "" }); }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid body-content">
        <div class="notificator-admin" style="display: none"></div>
        @RenderBody()
        <hr />
        <footer class="text-center" id="main-footer">
            <strong>
                &copy; @DateTime.Now.Year - <a href="http://telerikacademy.com">Telerik Academy</a>. Author: Geno Genov
            </strong>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/noty")
    @RenderSection("scripts", required: false)

</body>
</html>
