@{
    Layout = "~/Views/Shared/Base/_BaseLayout.cshtml";
}
@section styles{
    @RenderSection("styles", false)
}

@section scripts
{

    @RenderSection("scripts", false)
    @RenderSection("kendoHelpers", false)
}

@section kendoHelpers{
    <script>
        function filterFaculties() {
            return {
                universities: $("#University").val()
            };
        }
        function filterCourses() {
            return {
                faculties: $("#Faculty").val()
            };
        }

        function filterUsers() {
            return {
                courses: $("#Course").val()
            };
        }

    </script>

    <script>
    function startChanged() {
        var endPicker = $("#End").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChanged() {
        var startPicker = $("#Started").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }

    </script>

}

<div class="container-fluid body-content">
    <div class="notificator-admin" style="display: none"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar-nav">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">

                        <ul class=" nav navbar navbar-nav" id="admin-menu">
                            <li class="navbar-brand">@Html.ActionLink("Categories","Index","Home")</li>
                            <li class="divider nav-divider"></li>
                            @Html.Action("SideMenu","Home")
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>

    </div>
</div>
