@using KnowledgeSpreadSystem.Web.Helpers
@model KnowledgeSpreadSystem.Web.ViewModels.Course.CourseViewModel
<div class="well">
    <h2 class="text-center">@Html.DisplayFor(x => x.Name)</h2>
    <h3 class="text-center"><strong>Year: </strong> @Html.DisplayFor(x=>x.Year)</h3>
    <hr />
    @if (ViewBag.IsModerator)
    {
        <div class="row">
            @Html.ActionLink("Add resource", "UploadForCourse", "Resources", new { @Model.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Add Insight", "CreateForCourse", "Insights", new { @Model.Id }, new { @class = "btn btn-success" })
        </div>
    }
    <hr />
    @Html.Partial("_ResourcesAndInsightsTemplate",new {ReadAction="ReadForCourse", Id=@Model.Id})
</div>





