<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Help Me Graduate</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/custom")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("styles", false)

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HelpMeGraduate", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_MenuPartial")

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    @RenderBody()

    <hr />
    <footer class="text-center" id="main-footer">
        <strong>
            &copy; @DateTime.Now.Year - <a href="http://telerikacademy.com">Telerik Academy</a>.<br/>
            Author: Geno Genov
        </strong>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/noty")
    @RenderSection("scripts", false)

</body>
</html>
