@using System.Collections
@using Kendo.Mvc.UI
@model KnowledgeSpreadSystem.Web.Areas.Administration.ViewModels.Module.CourseModuleViewModel

<h3>Create new module</h3>


<div class="form-group">
    @Html.LabelFor(x => x.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Started)
    @Html.EditorFor(m => m.Started,"Date" ,new { @class = "form-control" ,name="Started", jsEvent="startChanged"})
    @Html.ValidationMessageFor(x => x.Started)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.End)
    @Html.EditorFor(m => m.End, "Date", new { @class = "form-control" ,name="End", jsEvent="endChanged"})
    @Html.ValidationMessageFor(x => x.End)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.Lecturer)
    @Html.EditorFor(m => m.Lecturer, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Lecturer)
</div>

@*<div class="form-group">
    @Html.LabelFor(x => x.Moderator)
    @Html.EditorFor(x=>x.Moderator)
    @Html.ValidationMessageFor(x => x.Moderator)
</div>*@

<div class="form-group">
    @Html.EditorFor(x=>x.Course)
    @Html.ValidationMessageFor(x => x.Course)
</div>


