@{
    Layout = "Base/_BaseLayout.cshtml";
}

@section styles
{
    @RenderSection("styles", false)
}

@section scripts
{
    @RenderSection("scripts", false)
}

<div class="container-fluid body-content">
    
   @if (Request.IsAuthenticated)
   {
    <div class="row">
        <div class="col-md-10">
            @RenderBody()
        </div>
        <div class="col-md-2" id="chat">
            @Html.Partial("_ChatPartial")
        </div>
    </div>
   }
   else
   {
       @RenderBody()
   }
</div>

