@{
    Layout = "Base/_BaseLayout.cshtml";
}

@section styles
{
    @RenderSection("styles", false)
}

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chat/chat.js"></script>
    @RenderSection("scripts", false)
}

<div class="container-fluid body-content" style="height: 100%;">
    
   @if (Request.IsAuthenticated)
   {
    <div class="row" style="height: 100%;">
        <div class="col-md-10">
            @RenderBody()
        </div>
        <div class="col-md-2" style="height: 100%;" id="chat">
            @Html.Partial("_ChatPartial")
        </div>
    </div>
   }
   else
   {
       @RenderBody()
   }
</div>

